@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
    background: linear-gradient(to right, #454f6d, #5a6f77);
    background-color: #5a6f77;
}

#App {
    width: 100%;
    margin: auto;
    padding-top: 5%;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

#input {
    color: white;

    h1 {
        font-size: 3em;
    }

    input {
        color: white;
        text-align: center;
        border: none;
        border-bottom: 2px solid white;
        background: transparent;
        outline: none;
        margin: 3% 0;
        font-size: 150%;
        width: 15%;
        transition: 0.5s;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        &:focus {
            width: 35%;
        }

        @media screen and (max-width: 800px) {
            width: 30%;

            &:focus {
                width: 85%;
            }
        }
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

#active-trackers {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .tracker {
        border: 3px solid black;
        background-color: white;
        width: 200px;
        height: 200px;
        margin: 10%;
        position: relative;
        cursor: grab;

        .delete {
            position: absolute;
            top: 10px;
            right: 10px;

            img {
                height: 25px;
                width: 25px;
                cursor: default;
            }
        }

        .coin-name {
            font-size: 250%;
            font-weight: bolder;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
        }

        .coin-logo {
            height: 35%;
            width: 35%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .coin-price {
            font-size: 200%;
            font-weight: bold;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }

        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 100%;
                height: 100%;
                animation: spin 1s infinite;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }

  footer {
      color: white;
      font-size: 200%;
      margin: 5% 0 2% 0;
      
      a {
          text-decoration: none;
          color: inherit;
      }
  }